

/* 1 - Google Font
------------------------------------------------------------------------*/


@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700,800,900';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700';


@font-face {
    font-family: 'Simple-Line-Icons';
    src:url('fonts/Simple-Line-Icons.eot');
    src:url('fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
        url('fonts/Simple-Line-Icons.woff') format('woff'),
        url('fonts/Simple-Line-Icons.ttf') format('truetype'),
        url('fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 2 - General styles
------------------------------------------------------------------------*/
:-moz-selection {
    background-color: #e6ae49;
    color: #FFF;
}

::-moz-selection {
    background-color: #e6ae49;
    color: #FFF;
}

body {
    width: 100%;
    height: 100%;
    line-height: 24px;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

.no-padding{
    padding: 0;
}



a, a:focus, a:active, a:link, img {
    outline: none;
}


a {
    color:#555;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: #323232;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

    a:hover {
        color:#FF5721;
        text-decoration: none;
        transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
    }

a:focus {
    outline:none;
    outline-offset:0;
}

a:link,
a:visited{
    text-decoration: none;
}


img {
     height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

iframe,
audio {
    width: 100%;
    height: auto;
    border: none;
}

ul,li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* 2.1 - Headings 
--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    color: #303030;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin: 0px;
}

h1 {
    font-size: 43px;
    line-height: 40px;
    font-weight: 900;
}


h2 {
    font-size: 27px;
    line-height: 37px;
}

h3 {
    font-size: 21px;
    line-height: 32px;
}

  

h4 {
    font-size: 18px;
    line-height: 28px;
}



h5 {
    font-size: 16px;
    line-height: 23px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
    
}



p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}

/* buttons style */
.btn{
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 3px;
    line-height: 23px;
    text-transform: uppercase;
     -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    margin-top: 20px;
}

.btn-primary{
    border:3px solid#2A2A2A;
    background: #2A2A2A;
    color:#fff;
}

.btn-primary:hover{
    background:#FF5721;
    border-color:#FF5721;
    color:#fff;
}
.btn-feature{
    border:3px solid#FF5721;
    background: #FF5721;
    color: #fff ;
}


.btn-feature:hover{
    background: #fff;
    color: #343434;
    border-color: #fff;
}


/*==================== section heading ========================*/
.section-heading{
    position: relative;
    margin-bottom: 80px;
}

.section-padding{
    padding: 90px 0px;
}


.section-heading p{
    width: 70%;
    margin: 0 auto;
}

.section-head{
    margin-bottom: 50px;
}

.section-head p{
    margin: 15px 0px;
}

.line{
    position: relative;
    width: 10px;
    height: 10px;
    background: #000;
    margin-left: 5px;
}
.line.highlight{
    background: #FF5721;
}


/*======================================================
     navigation 
==========================================================*/

.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    background: transparent;
    background: rgba(255,255,255,.9);
}

.navbar-custom .navbar-brand {
    padding-top: 0px;
    margin-top: 0px;
}
.navbar-custom .navbar-brand  span{
    text-transform: capitalize;
    color: #50D2C2;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #232323;
    text-transform: capitalize;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: all .3s ease;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #000;
    background-color: transparent;
    font-size: 14px;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
    color: #000;
}

.navbar-custom .nav li.active {
    outline: 0;

}


@media(min-width:768px) {
    .navbar-custom {
        padding: 15px 0;
        border-bottom: 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 10px 0px;
        -webkit-box-shadow: 0px 0px 2px #777;
        box-shadow: 0px 0px 2px #777;
        
    }
   
    .navbar-custom.top-nav-collapse .nav li.active a{
        background-color: transparent;
        color:  #FF5721!important;
    }

}


/*============================================
    SLIDER SECTION
===============================================*/
#section-slider {
    background: url("../images/bg/intro4.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s ;
    transition:  all .4s ease 0s;
}
.slider-caption {
    z-index:2;
    padding: 220px 0px 160px;
    margin: 0 auto;
}
.slider-caption h2.slider-title{
    font-size:50px;
    line-height: 60px;
    letter-spacing: 0px;
    margin: 0px 0px 20px 0px;
    color: #eee;
}


.slider-caption h2.slider-title,.slider-caption p,.slider-caption h6{
    color: #fff;
}
.slider-caption p{
    font-size: 16px;
    line-height: 26px;
    width: 65%;
    margin: 0 auto;
}

.slider-caption a{
    margin-top: 40px;
}

/*================================
    SECTION overlay
==================================*/

.parallax-overlay.black-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
}
.parallax-overlay.white-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0% 0%;
}
.parallax-overlay.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url("../images/bg/p2.png");
    opacity: .85;
}

/*================================
    SECTION ABOUT
==================================*/
#section-about{
}

p.sub{
    font-style: italic;
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #FF5721;
}
.about-box{
    position: relative;
}
.step{
    font-size: 90px;
    font-weight: 800;
    opacity: .2;
    position: absolute;
    bottom:50px;
    right: 20px;
}
.about-box h4{
    margin-bottom: 20px;
}

.learn-more{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin-top: 10px;
}

.learn-more i{
    color: #FF5721;
}



/*================================================
    SECTION SERVICES
=================================================*/
#section-services{
    padding: 90px 0px 60px 0px;
    background: url("../images/bg/servicebg.jpg")fixed 10% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.service-box{
    margin-bottom: 60px;
}

.service-box h4{
    margin-bottom: 20px;
    text-transform: uppercase;
    float: left;
    margin-left: -30px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
    background: #fff;
}

.icon-box{
    width: 50px;
    height: 50px;
    float: left;
    background: #fff;
    border: 1px solid#ddd;
    border-radius: 100%;
}


.service-inner{
    clear: both;
}



/*================================================
    SECTION FEATURES
=================================================*/

#section-features{
    background: #F7F7F7;
}

.chooseimg{
    margin-top: -70px;
}

.chooseimg h2{
    text-align: center;
    display: none;
}

.feature-head{
    margin-bottom:25px;
}    
.feature-head h2{
    margin-bottom: 10px;
}

.choosing-box{
    padding: 40px 40px 0px 0px;
}


#section-about-more{
    margin-top: 60px;
    padding-bottom: 80px;
}
.feature-box{
}
.ficon{
    font-weight: 700;
    font-size: 30px;
    color: #FF5721;
    float: left;
    margin-right: 20px;
}
.feature-box h4{
    margin-bottom: 15px;
}

/*================================================
    SECTION PARALLAX
=================================================*/

.parallax-content{
    background: #eaeaea;
    padding: 30px 30px;
}



/*============================
    SECTION PORTFOLIO
================================*/


.portfolio-content.big-img img{
    height:300px;
}

.item-box {
    position: relative;
    overflow: hidden;
    display: block;
}

    .item-box a {
        display: inline-block;
    }

    .item-box:hover .item-mask {
        opacity: 1;
        visibility: visible;
    }

        .item-box:hover .item-mask .item-caption {
            bottom: 30px;
            opacity: 1;
        }

    .item-box:hover .item-container {
        transform: scale(1.1);
        transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        width: 100%;
    }

.item-container {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    width: 100%;
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.item-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

    .item-mask h5, .item-mask h6, .item-mask p {
        margin-bottom: 0px;
    }

    .item-mask p {
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1.5px;
        font-weight: 400;
        margin-top: 0;
        text-align: left;
    }

    .item-mask .item-caption {
        position: absolute;
        bottom: -60px;
        left: 0px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
        transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        opacity: 0;
    }


.white{
    color: #fff!important;
}


.grid-item{
    margin-bottom: 20px;
}


/*================================================
    SECTION PARALALX
=================================================*/
#section-parallax{
    background: url("../images/bg/intro1.jpg")40%;
    -webkit-background-size: cover;
    background-size:cover ;
    position: relative;
    padding: 80px 0px;
}
.parallax-inner h3,.parallax-inner h2,.paralax-content h2,.paralax-content p{
    color: #fff;
}
.contact-btn .btn-feature{
    letter-spacing:1px;
}
.contact-btn .btn-feature:hover{
    background: #fff;
    color: #343434;
    border-color: #fff;
}

/*================================================
    SECTION PRICING
=================================================*/
#section-pricing{
    padding: 90px 0px 60px 0px;
}
.pricing-box{
    background: #f5f5f5;
    padding: 40px 60px;
}

.price-inner{
    margin-bottom: 30px;
}
.price-inner h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.price{
    margin: 10px 0px;
    font-size: 25px;
    line-height: 40px;
    color: #333;
}
.price sub{
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    font-weight: 700;
}
.pricing-box ul{}
.pricing-box ul li{
    padding: 10px 0px;
}
.pricing-box ul li h6{
    font-weight: 400;
    text-transform: uppercase;
}

/*================================================
    SECTION TESTIMONIAL
=================================================*/


.testimonial-carousel{
    margin-bottom: 20px;
}
.carousel-content{
    position: relative;
}
.img-box{
    float: left;
    width: 40%;
    margin-bottom: 20px;
}
.client-text{
    float: left;
    margin-top: 70px;
}


.carousel-content p{
    clear: both;
     position: relative;
}
.client-text i{
   
}
.carousel-content p i{
    position: absolute;
    top: 0px;
    right: 50px;
    font-size: 90px;
    line-height: 90px;
    opacity: .4;
    color: #999;
}

.clients-wrap{
    margin-top: 40px;
}



/*================================================
    SECTION CONTACT
=================================================*/

.contact-head{
    margin-bottom: 50px;
}
.contact-head p{
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-left: 10px;
    border-left: 3px solid#eee;
}

#section-contact{
    background: url("../images/bg/pic3.jpg")10%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}


.contact-form-wrap{
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

#contact-form .form-control{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid#ddd;
    min-height: 45px;
    background: #fff;
}
#contact-form .form-group{
    margin-bottom: 25px;
}

#contact-form .form-control:hover,#contact-form .form-control:focus{
    border-color: #F8A51B;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.contact-form-field {
    border-radius: 0px;
    color: #444;
    background-color: transparent;
    font-family: "Muli",sans-serif;
    font-size: 13px;
    padding-left: 26px;
    line-height: 20px;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}
.contact-form-field:hover,.contact-form-field:focus{
     border-color: #F8A51B;
    background: #000;
}

.contact-box.contact-page   {
    padding: 5px;
    margin-bottom: 25px;
}
#contact-form .btn-feature:hover{
    background: transparent;
    color: #232323;
    border-color:#232323;
}


/*================================================
    SECTION CONTACT INFO
=================================================*/

#section-contact-wrap{
    padding:60px 0px 50px 0px;
}
.contact-info-box{
    text-align: center;
    margin-bottom: 15px;
}
.contact-info-box i{
    color: #333333;
    font-size: 40px;
}
.contact-info-box h5{
    text-transform: uppercase;
    margin: 15px 0px;
}

/*================================================
    SECTION FOOTER
=================================================*/
#section-footer{
    background: #FF5721;
    padding: 20px 0px;
}


.section-footer-btm p i{
    color: #8F0000;
}
.section-footer-btm p{
    font-weight: 500;
    color: #232323;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0px;
}
