<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>www.freemoban.com</title>
    <!-- Bootstrap Styles-->
    <link href="{{ static('assets_chart/css/bootstrap.css')}}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{{ static('assets_chart/css/font-awesome.css')}}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{{ static('assets_chart/js/morris/morris-0.4.3.min.css')}}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{{ static('assets_chart/css/custom-styles.css')}}" rel="stylesheet" />

    <link rel="{{ static('stylesheet" href="assets_chart/js/Lightweight-Chart/cssCharts.css')}}">
</head>

<body >
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><strong>ONE IS ALL</strong></a>

		<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation" >
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="/index/"><i class="fa fa-dashboard"></i>主页</a>
                    </li>
                    <li>
                        <a href="/all_task/"><i class="fa fa-desktop"></i>任务广场</a>
                    </li>

                    <li>
                        <a href="/choose/"><i class="fa fa-qrcode"></i>发布任务</a>
                    </li>

                    <li>
                        <a href="/recharge/"><i class="fa fa-table"></i>充值中心</a>
                    </li>
                    <li>
                        <a href="javascript:history.back(-1)"><i class="fa fa-edit"></i> 返回 </a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
		<div id="page-wrapper" style="background-size:120%;background-image:  url({{ static('css/check_1.jpg') }})">

<h1 style="margin-left: 600px;margin-bottom: 30px;">统计结果</h1>
               <h4 style="margin-left: 600px;margin-bottom: 60px;">您可以设置自动通过一部分成果</h4>
<form style="margin-left: 600px;margin-bottom: 100px;" action="/chart/" method="post">
     {{ csrf_input }}
<select name="value_">
<option value="20">20%</option>
<option value="40">40%</option>
<option value="60" selected="selected">60%</option>
<option value="80">80%</option>
    <option value="100">100%</option>
</select>
       <button  type="submit" style="margin-left: 30px;"class="btn btn-success" >   通过高于该阈值的答案  </button>
</form>

            <div id="page-inner" style="opacity: 0.8">

                <!-- /. ROW  -->
                {% for choice in choice_list %}
                    <form action="/chart/" method="post">
     {{ csrf_input }}
                <div class="row" style="margin-left: 100px;">
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>{{ choice.content }}</h4>
						<div class="easypiechart" id="easypiechart-blue" data-percent="82" ><span class="percent">{{ choice.choice_value }}</span>
						</div>
					</div>
				</div>
			</div>
                    <div style="margin-left: 30px;"class="col-md-8 col-sm-12 col-xs-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                投票列表
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    {% for member in choice.members %}
                                    <a href="#" class="list-group-item">
                                        <span class="badge">已通过{{ member.history }}条任务</span>
                                        <i class="fa fa-fw fa-comment"></i> {{ member.name }}
                                    </a>
                                        {% endfor %}
                                </div>
                                <div class="text-right">
                                   {# <button type="submit" class="btn btn-warning" ><i class="fa fa-arrow-circle-right"></i>  通过以上答案  </button> #}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /. ROW  -->
                    </form>
            </div>
            {% endfor %}
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{{ static('assets_chart/js/jquery-1.10.2.js')}}"></script>
    <!-- Bootstrap Js -->
    <script src="{{ static('assets_chart/js/bootstrap.min.js')}}"></script>

    <!-- Metis Menu Js -->
    <script src="{{ static('assets_chart/js/jquery.metisMenu.js')}}"></script>
    <!-- Morris Chart Js -->
    <script src="{{ static('assets_chart/js/morris/raphael-2.1.0.min.js')}}"></script>
    <script src="{{ static('assets_chart/js/morris/morris.js')}}"></script>


	<script src="{{ static('assets_chart/js/easypiechart.js')}}"></script>
	<script src="{{ static('assets_chart/js/easypiechart-data.js')}}"></script>

	 <script src="{{ static('assets_chart/js/Lightweight-Chart/jquery.chart.js')}}"></script>

    <!-- Custom Js -->
    <script src="{{ static('assets_chart/js/custom-scripts.js')}}"></script>

      <script>

      </script>

</body>

</html>