<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>选择任务模板</title>
        <!-- Favicons -->
    <link href="{{ static('img/logo_2.png') }}" rel="icon">
    <link href="{{ static('img/logo_3.png') }}" rel="apple-touch-icon">
    <link rel="stylesheet" href="{{ static('css/addtask_select_templete.css') }}"
  type='text/css' />

</head>
<body>

 <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="/choose_new/" method="post" enctype="multipart/form-data">
                {% for message in get_messages(request) %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <a href=" #" class="close" data-dismiss="alert">&times;</a>{{ message }}
                    </div>
                {% endfor %}
                {{ csrf_input }}

                <div class="select_1">
  <h1 class="text-center" style="color:burlywood;font-size: 45px;margin-left: -650px;">选择任务模板</h1>
<div class=""   style="display:inline-block;">
<img  src="../static/css/1.png/" title="单选" onclick="window.open(/release_task_1/); "  style="margin-top: 140px;margin-left: -1100px;margin-right: -1100px;cursor:pointer;"  >
<h2 class="-align-left"  style="margin-top: 20px;margin-left: -1060px;margin-right: -1100px">单选</h2>
</div>

<div class=""  style="display:inline-block;margin-left:10px;">
<img  src="../static/css/2.png/" title="多选" onclick="window.open(/release_task_2/); "style="margin-top: -1200px;margin-left: -800px;margin-right: -1100px;cursor:pointer;">
<h2 class="-align-left" style="margin-left: -760px;margin-right: -1100px">多选</h2>
</div>


<div class=""  style="display:inline-block;margin-left:10px;">
    <img  src="../static/css/3.png/" title="问答"  onclick="window.open(/release_task_3/); "style="margin-top: -1200px;margin-left: -500px;margin-right: -1100px;cursor:pointer;">
<h2 class="-align-left" style="margin-left: -460px;margin-right: -1100px">问答</h2>
</div>

<div class=""  style="display:inline-block;margin-left:10px;">
    <img  src="../static/css/4.png/" title="框选" onclick="window.open(/release_task_4/); " style="margin-top: -1200px;margin-left: -200px;margin-right: -1100px;cursor:pointer;" >
<h2 class="-align-left" style="margin-left: -160px;margin-right: -1100px">框选</h2>
</div>

</div>



            </form>
     </div>
 </div>




</body>

</html>