{#  单张图片标注工具 #}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>图片标注工具</title>
    <!-- Favicons -->
    <link href="{{ static('img/logo_2.png') }}" rel="icon">
    <link href="{{ static('img/logo_3.png') }}" rel="apple-touch-icon">
    <!-- Bootstrap -->
    <link href="{{ static('build/js/bootstrap-3.3.7/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static('build/css/custom.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 img-main" id="img">&nbsp;</div>
    </div>
    <div></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="radio-type">标注类型：
            {% for qa in qa_list %}
                {% if loop.index == 1 %}
                    <label class="radio-inline">
                        <input type="radio" name="radio_region" checked="checked" id="region_{{ loop.index }}"
                               value="{{ loop.index }}">
                        {{ qa.question }}
                    </label>
                {% else %}
                    <label class="radio-inline">
                        <input type="radio" name="radio_region" id="region_{{ loop.index }}"
                               value="{{ loop.index }}">
                        {{ qa.question }}
                    </label>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <span>当前文件：<strong id="cur_id"></strong></span>
            <span>坐标区域：<strong id="cur_loc"></strong></span>
        </div>
    </div>
    <div class="row">
        <form action="/enter_task/" method="post">
            {{ csrf_input }}
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <span>当前样本标注状态：</span>
                <textarea class="form-control" name="position" id="annotation_cur_status" rows="6" required></textarea>
            </div>
            {#                    <div class="col-md-3">#}
            {#                        <span>所有样本标注状态：</span>#}
            {#                        <textarea class="form-control" id="annotation_total_status" rows="6"></textarea>#}
            {#                    </div>#}
            <div class="col-md-1">
                <br/>
                <button type="submit" class="btn btn-success" id="btn_save">提交结果</button>
                <br> <br/>
                <button type="button" onclick="window.location.href='/all_task/'" class="btn btn-default">返回
                </button>
            </div>
        </form>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ static('build/js/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
<script src="{{ static('build/js/layer-v3.1.1/layer/layer.js') }}"></script>
<script src="{{ static('build/js/custom.js') }}"></script>
<script src="{{ static('build/js/draw_roi.js') }}"></script>
<script type="text/javascript">
    {#var sampleCount = "1";#}

    function loadSamplePic(index) {
        {#picNumberStr = PrefixInteger(index, 6);#}
        {#url = "/api/annotation/sample?index="+picNumberStr+'&time='+new Date();#}
        url = '{{ sub_task.file.url }}';
        $('#img').css({"background": "url('" + url + "') no-repeat"});
        $('#cur_id').html('{{ sub_task.file.name.split('/')[-1] }}');
        $('.box').remove();
        $('#cur_loc').html('');
    }

</script>
</body>
</html>