<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Letter - Simple Sign Up Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{{ static('css/regist_font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/regist_bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ static('css/regist_demo.css') }}"/>
    <link rel="stylesheet" href="{{ static('css/templatemo-style.css') }}">

    <script type="text/javascript" src="{{ static('js/modernizr.custom.86080.js') }}"></script>

</head>

<body data-spy="scroll" data-target="#topnav">

<div class="navbar navbar-inverse navbar-fixed-top" id="topnav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/regist/">Regist</a></li>
                <li><a href="/index/">Home</a></li>
                <li><a href="/login/">Log In</a></li>
                <li><a href="/release_task/">Release Task</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>


<div id="particles-js"></div>

<ul class="cb-slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="container-fluid">
    <div class="row cb-slideshow-text-container ">

        <div class="tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">

            <form class='subscribe-form form-register' action="/regist/" method="post">
                {{ csrf_input }}
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <button type="button" onclick="window.location.href='/login/'" name="login"
                            class="btn btn-default btn-block btn-lg"
                            style="margin-left:50px;margin-bottom:50px;font-size: 20px;color: #2b542c">Log In
                    </button>
                </div>
            </form>

            <header class="mb-5"><h1>Sign Up</h1></header>

            <P class="mb-5">Thank you for joining our site!</P>

            <form class='subscribe-form' action="/regist/" method="post">
                <div class="row form-section">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        {% for message in get_messages(request) %}
                            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                <a href="#" class="close" data-dismiss="alert">&times;</a>{{ message }}
                            </div>
                        {% endfor %}
                        {{ csrf_input }}
                        <input type="text" name="username" class="form-control" id="username"
                               placeholder="Your Username" style="margin-bottom: 20px;" maxlength="128" required/>
                        <input type="password" name="password1" class="form-control" id="password1"
                               placeholder="Your Password" style="margin-bottom: 20px;" maxlength="128" required/>
                        <input type="password" name="password2" class="form-control" id="password2"
                               placeholder="Confirm Password" style="margin-bottom: 20px;" maxlength="128" required/>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Your Email..."
                               style="margin-bottom: 40px;" required/>
                        <button type="submit" name="regist" class="tm-btn-subscribe">Sign Up</button>
                    </div>
                </div>
            </form>

            <div class="tm-social-icons-container text-xs-center">
                <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
            </div>

        </div>
    </div>

</div>
</body>
<script src="{{ static('js/jquery.js') }}"></script>
<script src="{{ static('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/particles.js') }}"></script>
<script type="text/javascript" src="{{ static('js/app.js') }}"></script>
</html>