{#上传视频数据集以后在这个页面进行视频->图片集合的处理并展示出来确认 #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频图集预选</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ static('css/video_owl.carousel.min.css') }}">

    <link rel="stylesheet" href="{{ static('css/video_aos.css') }}">

    <link rel="stylesheet" href="{{ static('css/video_style.css') }}">
</head>

<body>

<header class="sticky-top">
    <div class="layer">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div id="navbarSupportedContent" class="collapse navbar-collapse sidenav">
                    <a href="javascript:void(0)" class="closebtn d-lg-none" id="cls-btn">&times;</a>
                    <ul class="navbar-nav ml-lg-auto">
                        {#                        <li><a href="/enter_task/" active>Enter Task</a></li>#}
                        <li><a href="/index/">主页</a></li>
                        <li><a href="/all_task/">任务广场</a></li>
                        <li><a href="/choose/">发布任务</a></li>
                        <li><a href="/logout/">登出</a></li>
                    </ul>
                </div>

                <button type="button" class="toggler" id="toggle-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

            </nav>
        </div>
    </div>
</header>

<section class="index-welcomenote">
    <div class="container">
        <ul class="row">
            <li class="col-md-9 col-xl-10" data-aos="fade-up" data-aos-duration="1000">
                <h4> Fill in the frame interval.</h4>
                <form action="/video2pictures_slide/" method="post">
                    {{ csrf_input }}
                    <input type="text" maxlength="10" class="form-control" name="frame_interval"
                           style="margin-top: 30px;" placeholder="the frame interval"
                            {% if request.session.frame %} value="{{ request.session.frame }}"{% endif %} required>
                    <br>
                    <button type="submit" name="frame" class="btn btn-success">确认截取帧数间隔</button>
                </form>
                <form action="/video2pictures_slide/" method="post">
                    <br>
                    {{ csrf_input }}
                    <button type="submit" name="return" class="btn btn-default">放弃</button>
                </form>
                {% if request.session.frame %}
                    <section>
                        <br>
                        <form action="/video2pictures_slide/" method="post">
                            {{ csrf_input }}
                            <button type="submit" name="confirm" class="btn btn-warning">确认图集</button>
                        </form>
                    </section>
                {% endif %}
            </li>

        </ul>
    </div>
</section>
{% for sub_task in task.subtask_set.all() %}
    <section class="carousel">
        <div class="row">
            <div class="col-12">
                <div class="loop owl-carousel owl-theme">
                    {% set i = loop.index %}
                    {% for screenshot in sub_task.screenshot_set.all() %}
                        <form action="/video2pictures_slide/" method="post">
                            {{ csrf_input }}
                            <div class="item">
                                <div class="slide">
                                    <figure>
                                        <img src="{{ screenshot.image.url }}" alt="slide1">
                                    </figure>
                                    <div class="content">
                                        <h4>Frame {{ i }}.{{ loop.index }}</h4>
                                        <ul>
                                            <button type="submit" name="abandon" value="{{ screenshot.id }}"
                                                    class="btn btn-danger">
                                                从图集中删除
                                            </button>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endfor %}

<div class="scrolltop" style="display: block;">
    <div class="scroll icon">
        <i class="fa fa-angle-up"></i>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="{{ static('js/video_owl.carousel.js') }}"></script>
<script src="{{ static('js/video_aos.js') }}"></script>
<script src="{{ static('js/video_script.js') }}"></script>
<script>
    jQuery(document).ready(function ($) {
        $('.loop').owlCarousel({
            center: true,
            items: 2,
            loop: true,
            margin: 0,
            // autoplay: true,
            // slideTransition: 'linear',
            // autoplayTimeout: 2000,
            // autoplaySpeed: 1000,
            // autoplayHoverPause: true,
            responsive: {
                426: {
                    items: 2
                },
                640: {
                    items: 3
                },
                768: {
                    items: 4
                },
            }
        });

    });
</script>

</body>

</html>