{# 音频播放类单项选择题页面 #}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>听音频答题</title>
    <link href="{{ static('css/main.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ static('css/iconfont.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ static('css/test.css') }}" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=440,user-scalable=no">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            color: #6A6B6F;
            text-align: center;
            padding-top: 17px;
        {# width:970px; #} margin: 0 auto;
            background: whitesmoke;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 18px;
        }

        #skPlayer {
            margin: 27px auto 0;
        }

        .container {
            margin-top: 200px;
        }

        .doc {
            text-align: left;
        }

        pre {
            padding-left: 2em;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            background-color: #272822;
            border-radius: 3px;
        }

        @media screen and (max-width: 768px) {
            body {
                width: 100%;
            }

            .doc {
                display: none;
            }
        }
    </style>
    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color: #fff;
        }

    </style>
</head>

<body>
<div id="skPlayer"></div>
<div class="container">
{#    <button onclick="player.play()">player.play()</button>#}
{#    <button onclick="player.pause()">player.pause()</button>#}
{#    <button onclick="player.toggle()">player.toggle()</button>#}
{#    <button onclick="player.prev()">player.prev()</button>#}
{#    <br><br>#}
{#    <button onclick="player.next()">player.next()</button>#}
{# <button onclick="player.switchMusic(7)">player.switchMusic(7)</button><br><br> #}
{#    <button onclick="player.toggleList()">player.toggleList()</button>#}
{#    <button onclick="player.toggleMute()">player.toggleMute()</button>#}
{#    <button onclick="player.switchMode()">player.switchMode()</button>#}
{#    <br><br>#}
</div>

<div class="main">
    <!--nr start-->
    <div class="test_main">
        <div class="nr_left">
            <div class="test">
                <form action="/enter_task/" method="post">
                {{ csrf_input }}
                    <div class="test_title">
                        <font><input type="submit" name="submit" value="提交"></font>
                        <font><input type="button" onclick="window.location.href='/all_task/'" name="abandon" value="放弃，返回"></font>
                    </div>

                    <div class="test_content">

                        <div class="test_content_title">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit">{{ len(qa_list) }}</i><span>题</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul>
                            {% for qa in qa_list %}
                                <li id="qu_0_{{ loop.index0 }}">
                                    <div class="test_content_nr_tt">
                                        <i>{{ loop.index }}</i><font>{{ qa.question }}</font><b
                                            class="icon iconfont">&#xe881;</b>
                                    </div>

                                    <div class="test_content_nr_main">
                                        <ul>
                                            {% set i = loop.index %}
                                            {% for answer in qa.answers %}
                                                <li class="option">

                                                    <input type="radio" class="radioOrCheck" name="q{{ i }}"
                                                           value="{{ loop.index }}"
                                                           id="answer_{{ loop.index }}_question_{{ i }}" required/>
                                                    <label for="answer_{{ loop.index }}_question_{{ i }}">
                                                        {{ chr(64 + loop.index) }}.
                                                        <p class="ue" style="display: inline;">{{ answer }} </p>
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
            </div>

        </div>
        <div class="nr_right">
            <div class="nr_rt_main">
                <div class="rt_nr1">
                    <div class="rt_nr1_title">
                        <h1>
                            <i class="icon iconfont">&#xe692;</i>答题区域
                        </h1>

                    </div>

                    <div class="rt_content">

                        <div class="rt_content_tt">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit">{{ len(qa_list) }}</i><span>题</span>
                            </p>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                {% for qa in qa_list %}
                                    <li><a href="#qu_0_{{ loop.index0 }}">{{ loop.index }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--nr end-->
    <div class="foot"></div>
</div>

<script src="{{ static('js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ static('js/jquery.easy-pie-chart.js') }}"></script>
<!--时间js-->
<script src="{{ static('time/jquery.countdown.js') }}"></script>
<script>
    window.jQuery(function ($) {
        "use strict";

        $('time').countDown({
            with_separators: false
        });
        $('.alt-1').countDown({
            css_class: 'countdown-alt-1'
        });
        $('.alt-2').countDown({
            css_class: 'countdown-alt-2'
        });

    });


    $(function () {
        $('li.option label').click(function () {
            debugger;
            var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
            var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
            // 设置已答题
            if (!cardLi.hasClass('hasBeenAnswer')) {
                cardLi.addClass('hasBeenAnswer');
            }

        });
    });
</script>
<div style="text-align:center;">
</div>
<script src="{{ static('dist/skPlayer.min.js') }}"></script>
<script>
    var player = new skPlayer({
        autoplay: true,
        //可选项,自动播放,默认为false,true/false
        listshow: true,
        //可选项,列表显示,默认为true,true/false
        mode: 'listloop',
        //可选项,循环模式,默认为'listloop'
        //'listloop',列表循环
        //'singleloop',单曲循环
        music: {
            //必需项,音乐配置
            {#type: 'cloud',#}
            {#//必需项,网易云方式指定填'cloud'#}
            {#source: 317921676#}
            {#//必需项,网易云音乐歌单id#}
            {#//登录网易云网页版,在网页地址中拿到#}
            {#// ... playlist?id=317921676#}

            type: 'file',
            //必需项,自配置文件方式指定填'file'
            source: [
                //必需项,音乐文件数组
                {
                    name: '{{ sub_task.file.name }}',
                    //必需项,歌名
                    author: '{{ task.admin }}',
                    //必需项,歌手
                    src: '{{ sub_task.file.url }}',
                    //必需项,音乐文件
                    {#cover: '/media/{{ file }}'#}
                    //必需项,封面图片
                },
            ]
        }
    });
</script>
</body>

</html>